<section class="site-section block__45439">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h3 class="section-title-sub text-primary">Most visited and captivating</h3>
        <h2 class="section-title mb-3">Horizon Birds</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch">
          <figure class="img" style="background-image: url('images/beeEater.jpg')">
          </figure>
          <div class="h-100">
            <small class="mb-4"><a href="https://en.wikipedia.org/wiki/Black_bee-eater" target="_blank">Black bee eater </a></small>

            <div class="block__27192 d-flex pt-1 border-top">
              <small>
                The black bee-eater is a species of bird in the family Meropidae. It is native to tropical west and central Africa where it is found at the edges of the rainforest and in secondary woodland
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch">
          <figure class="img" style="background-image: url('images/dwarf.jpg')">
          </figure>
          <div class="h-100">
            <small class="mb-4"><a href="https://en.wikipedia.org/wiki/Red-billed_dwarf_hornbill" target="_blank">Red-billed dwarf honbill</a></small>
            <div class="block__27192 d-flex pt-1 border-top">
              <small>
                The red-billed dwarf hornbill (Lophoceros camurus) is a species of hornbill in the family Bucerotidae. It is found in Republic of the Congo, Democratic Republic of the Congo, Ivory Coast, Equatorial Guinea, Gabon, Ghana, Guinea, Liberia, Nigeria, Sierra Leone, South Sudan, and Uganda.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch">
          <figure class="img" style="background-image: url('images/shoebill2.jpg')">
          </figure>
          <div class="h-100">
            <small class="mb-4"><a href="https://en.wikipedia.org/wiki/Shoebill" target="_blank">Shoebill </a></small>
            <div class="block__27192 d-flex pt-1 border-top">
              <small>
                The shoebill (Balaeniceps rex) also known as whalehead, whale-headed stork,
                or shoe-billed stork, is a very large stork-like bird. It derives its name from its enormous shoe-shaped bill

              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch">
          <figure class="img" style="background-image: url('images/shoebill2.jpg')">
          </figure>
          <div class="h-100">
            <small class="mb-4"><a href="https://en.wikipedia.org/wiki/Shoebill" target="_blank">Shoebill </a></small>
            <div class="block__27192 d-flex pt-1 border-top">
              <small>
                The shoebill (Balaeniceps rex) also known as whalehead, whale-headed stork,
                or shoe-billed stork, is a very large stork-like bird. It derives its name from its enormous shoe-shaped bill

              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch">
          <figure class="img" style="background-image: url('images/shoebill2.jpg')">
          </figure>
          <div class="h-100">
            <small class="mb-4"><a href="https://en.wikipedia.org/wiki/Shoebill" target="_blank">Shoebill </a></small>
            <div class="block__27192 d-flex pt-1 border-top">
              <small>
                The shoebill (Balaeniceps rex) also known as whalehead, whale-headed stork,
                or shoe-billed stork, is a very large stork-like bird. It derives its name from its enormous shoe-shaped bill

              </small>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-lg-6 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch">
          <figure class="img" style="background-image: url('images/trogon_2.jpg')">
          </figure>
          <div class="h-100">
            <small class="mb-4"><a href="https://en.wikipedia.org/wiki/Bar-tailed_trogon" target="_blank">Bar Tailed Trogon</a></small>
            <div class="block__27192 d-flex pt-1 border-top">
              <small>
                The trogons and quetzals are birds in the order Trogoniformes which contains only one family, the Trogonidae. The family Trogonidae contains 39 species in seven genera.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>