<section class="home-section section-hero overlay slanted" id="home-section"  style="background-image: url('images/shoeBill.jpg')" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8 text-center">
        <h1>Horizon Birdings</h1>
        <div class="mx-auto w-75">
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quibusdam possimus quasi porro! Itaque?</p> -->
        </div>
        <p class="mt-5"><a href="/" class="btn btn-outline-white btn-md ">Learn More</a></p>
      </div>
    </div>
  </div>

  <!-- VIDEO -->
  <div class="video-container">
    <!-- <img src="" -->
  </div>
  <a href="#about-us-section" class="scroll-button smoothscroll">
    <span class=" icon-keyboard_arrow_down"></span>
  </a>
</section>

<section class="site-section about-us-section" id="about-us-section">
  <div class="container">

    <div class="row mb-5 pt-0 site-section">
      <div class="col-md-6 align-self-center">
        <h3 class="section-title-sub text-primary">About Us</h3>
        <h2 class="section-title mb-4">horizon birdings | Uganda</h2>

        <p>
          specialist in Bird watching. If you really want to see the most Endemic bird species of the country <br>
          <h2>Target Species</h2>
          African Piculet , Black Bee-eater , Chapins Flycatcher , Dusky Crimsonwing , Dwarf Honeyguide , Grauer’s Broadbill , Green-breasted Pitta , Lagdens Bushshrike , Neumann's Warbler , orange cheeked waxbill , Puvel’s Illadopsis , Red-billed Dwarf Hornbill , Red-throated Alethe , Rwenzori Batis , Rwenzori Turaco , Sharpe’s Starling , Shoebill , Yellow-eyed Black Flycatcher ,
        </p>

        <p class="mt-4"><a href="/about" class="spepcial_link">Read more about us</a></p>
      </div>
      <div class="col-md-5 ml-auto img-overlap">
        <div class="img-1"><img src="images/pitta.jpg" alt="Image" class="img-fluid img-shadow"></div>
        <div class="img-2"><img src="images/crane.jpg" alt="Image" class="img-fluid img-shadow"></div>
      </div>
    </div>

    <div class="row pb-0 border-top pt-5 block__19738 section-counter">

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <span class="icon-line-heart mr-3"></span>
          <strong class="number" data-number="21">0</strong>
        </div>
        <span class="caption">Target Species</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <span class="icon-line-map mr-3"></span>
          <strong class="number" data-number="8">0</strong>
        </div>
        <span class="caption">parks</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <span class="icon-line-clock mr-3"></span>
          <strong class="number" data-number="9">0</strong>
        </div>
        <span class="caption">Hours a day</span>
      </div>

      <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
        <div class="d-flex align-items-center justify-content-center mb-2">
          <span class="icon-line-calendar mr-3"></span>
          <strong class="number" data-number="365">0</strong>
        </div>
        <span class="caption">days in the year</span>
      </div>


    </div>

  </div>
</section>
<!--
<section class="site-section services-section bg-light block__62849" id="services-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h3 class="section-title-sub text-primary">Our Services</h3>
        <h2 class="section-title mb-3">Services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-line-tools d-block"></span></span>
          <h3>Graphic Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-line-lightbulb d-block"></span></span>
          <h3>Marketing Strategy</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-line-laptop d-block"></span></span>
          <h3>Web Design</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-line-search d-block"></span></span>
          <h3>SEO</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-line-presentation d-block"></span></span>
          <h3>Market Leading </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
        </a>

      </div>
      <div class="col-6 col-md-6 col-lg-4 mb-4 sm-12 mb-lg-5">

        <a href="service-single.html" class="block__16443 text-center d-block">
          <span class="custom-icon mx-auto"><span class="icon-line-ribbon d-block"></span></span>
          <h3>Pixel Perfect Design</h3>
          <p class="d-sm-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit facilis, pariatur harum labore aperiam assumenda.</p>
        </a>

      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center">
        <a href="#" class="btn btn-primary btn-md">View All Services</a>
      </div>
    </div>
  </div>
</section> -->

<!-- Start of blog section and end of the service section. -->

<section class="site-section block__45439">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center" data-aos="fade">
        <h3 class="section-title-sub text-primary">Most visited and captivating</h3>
        <h2 class="section-title mb-3">Horizon Birds</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch">
          <figure class="img" style="background-image: url('images/beeEater.jpg')">
          </figure>
          <div class="h-100">
            <small class="mb-4"><a href="https://en.wikipedia.org/wiki/Black_bee-eater" target="_blank">Black bee eater </a></small>

            <div class="block__27192 d-flex pt-1 border-top">
              <small>
                The black bee-eater is a species of bird in the family Meropidae. It is native to tropical west and central Africa where it is found at the edges of the rainforest and in secondary woodland
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch">
          <figure class="img" style="background-image: url('images/dwarf.jpg')">
          </figure>
          <div class="h-100">
            <small class="mb-4"><a href="https://en.wikipedia.org/wiki/Red-billed_dwarf_hornbill" target="_blank">Red-billed dwarf honbill</a></small>
            <div class="block__27192 d-flex pt-1 border-top">
              <small>
                The red-billed dwarf hornbill (Lophoceros camurus) is a species of hornbill in the family Bucerotidae. It is found in Republic of the Congo, Democratic Republic of the Congo, Ivory Coast, Equatorial Guinea, Gabon, Ghana, Guinea, Liberia, Nigeria, Sierra Leone, South Sudan, and Uganda.
              </small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch">
          <figure class="img" style="background-image: url('images/shoebill2.jpg')">
          </figure>
          <div class="h-100">
            <small class="mb-4"><a href="https://en.wikipedia.org/wiki/Shoebill" target="_blank">Shoebill </a></small>
            <div class="block__27192 d-flex pt-1 border-top">
              <small>
                The shoebill (Balaeniceps rex) also known as whalehead, whale-headed stork,
                or shoe-billed stork, is a very large stork-like bird. It derives its name from its enormous shoe-shaped bill

              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 mb-4">
        <div class="block__86547 d-block d-xl-flex align-items-stretch">
          <figure class="img" style="background-image: url('images/trogon_2.jpg')">
          </figure>
          <div class="h-100">
            <small class="mb-4"><a href="https://en.wikipedia.org/wiki/Bar-tailed_trogon" target="_blank">Bar Tailed Trogon</a></small>
            <div class="block__27192 d-flex pt-1 border-top">
              <small>
                The trogons and quetzals are birds in the order Trogoniformes which contains only one family, the Trogonidae. The family Trogonidae contains 39 species in seven genera.
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a href="/gallery" class="btn btn-primary btn-md">View Gallery</a>
    </div>
  </div>
</section>

