<section class="home-section section-hero image-bg overlay-2 slanted" style="background-image: url('images/animal.jpg')" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8 text-center">
        <h1>Our Services</h1>
        <div class="mx-auto w-75">
          <p>Our Service may include but not limited to the one's below, you can always contact us to make any inquiries and or suggest a service you may want us to offer you.</p>
        </div>
        <p class="mt-5"><a href="/contact" class="btn btn-outline-white btn-md ">Contact Us</a></p>
      </div>
    </div>
  </div>


  <a href="#next-section" class="smoothscroll scroll-button">
    <span class=" icon-keyboard_arrow_down"></span>
  </a>

</section>

<section class="site-section portfolio-single" id="next-section">

  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <p>You can explore a list of the services we offer and also check out our recent activities just incase any interests you....</p>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
          <strong class="d-block text-black">Birdwatching</strong>
          Birdwatching, or birding, is a form of wildlife observation in which the observation of birds is a recreational activity or citizen science. It can be done with the naked eye
        </div>
        <div class="col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
          <strong class="d-block text-black">Gorilla Trecking Bwindi</strong>
          Gorilla tracking in this park starts early in the morning at about 8am on a normal day with briefing from the rangers at the guide station.
        </div>
        <div class="col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
          <strong class="d-block text-black">Vacations</strong>
            Vacations and trip booking detailed explanation
        </div>
      </div>
    <div class="row mb-5 mt-5">

      <div class="col-lg-6">
        <figure>
          <a href="images/service.jpg" data-fancybox="gallery"><img src="images/service.jpg" alt="Image" class="img-fluid"></a>
        </figure>

        <figure>
          <a href="images/service.jpg" data-fancybox="gallery"><img src='images/animal.jpg' alt="Image" class="img-fluid"></a>
        </figure>

        <figure class="mb-0">
          <a href="images/bartailled.jpg" data-fancybox="gallery"><img src="images/bartailled.jpg" alt="Image" class="img-fluid"></a>
        </figure>

        <figure class="mb-0">
          <a href="images/gorillanew.jpg" data-fancybox="gallery"><img src="images/gorillanew.jpg" alt="Image" class="img-fluid"></a>
        </figure>
      </div>
      <div class="col-lg-5 ml-auto h-100 jm-sticky-top">
        <div class="mb-5">
          <h3 class="mb-4 h4">Gorilla Trecking</h3>

          <p class="mb-0">
            The strenous heights associated with gorilla treking has on several occasions hindered some travelers especially the physically unfit
            from enjoying this memorable encouter.
            How ever Horizon bridins is there to make it simple for you, despite your age and physical state, we provide afforable options on how you can
            enjoy this once in a life time experince.
          </p>
          <a href="/bookings" class="btn btn-outline-white btn-md ">Make reservation</a>
        </div>

        <div class="mb-5">
          <h3 class="mb-4 h4">Vacations </h3>

          <p class="mb-0">
           Need vacation description
          </p>
          <a href="/bookings" class="btn btn-outline-white btn-md ">Make reservation</a>
        </div>

        <div class="mb-5">
          <h3 class="mb-4 h4">Hotel Bookings </h3>

          <p class="mb-0">
            Need hotel booking description
          </p>
          <a href="/bookings" class="btn btn-outline-white btn-md ">Make reservation</a>

        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <figure class="mb-0">
          <a href="images/antelop.jpg" data-fancybox="gallery"><img src="images/antelop.jpg" alt="Image" class="img-fluid"></a>
        </figure>
      </div>
      <div class="col-lg-5 mr-auto h-100 jm-sticky-top  order-2 order-lg-1">

        <h3 class="mb-4 h4">More services and offers here</h3>

        <ul class="ul-check success mt-5 list-unstyled mb-0">
          <li> <a href="/bookings">Hotel Bookings</li></a>
          <li><a href="/bookings">Vacations</li></a>
          <li><a href="/bookings">bird watching</li></a>
          <li><a href="/bookings">Gorilla Treking</li></a>
          <li><a href="/bookings">Trip Advisory services</li></a>
        </ul>

      </div>
    </div>
  </div>
</section>
