<section class="home-section section-hero image-bg overlay-2 slanted" style="background-image: url('images/sq_img_2.jpg')" id="home-section">

  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-8 text-center">
        <h1>Our Services</h1>
        <div class="mx-auto w-75">
          <p>Our Service may include but not limited to the one's below, you can always contact us to make any inquiries and or suggest a service you may want us to offer you.</p>
        </div>
        <p class="mt-5"><a href="/contact" class="btn btn-outline-white btn-md ">Contact Us</a></p>
      </div>
    </div>
  </div>
    
  
  <a href="#next-section" class="smoothscroll scroll-button">
    <span class=" icon-keyboard_arrow_down"></span>
  </a>

</section>

<section class="site-section portfolio-single" id="next-section">

  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <p>You can explore a list of the services we offer and also check out our recent activities just incase any interests you....</p>
      </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
          <strong class="d-block text-black">Birdwatching</strong>
          Birdwatching, or birding, is a form of wildlife observation in which the observation of birds is a recreational activity or citizen science. It can be done with the naked eye
        </div>
        <div class="col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
          <strong class="d-block text-black">Gorilla Trecking Bwindi</strong>
          Gorilla tracking in this park starts early in the morning at about 8am on a normal day with briefing from the rangers at the guide station.
        </div>
        <div class="col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
          <strong class="d-block text-black">Vacations</strong>
            Vacations and trip booking detailed explanation
        </div>
      </div>
    <div class="row mb-5 mt-5">

      <div class="col-lg-6">
        <figure>
          <a href="images/sq_img_6.jpg" data-fancybox="gallery"><img src="images/sq_img_6.jpg" alt="Image" class="img-fluid"></a>
        </figure>
        <figure>
          <a href="images/sq_img_2.jpg" data-fancybox="gallery"><img src="images/sq_img_2.jpg" alt="Image" class="img-fluid"></a>
        </figure>
        <figure class="mb-0">
          <a href="images/sq_img_5.jpg" data-fancybox="gallery"><img src="images/sq_img_5.jpg" alt="Image" class="img-fluid"></a>
        </figure>
      </div>
      <div class="col-lg-5 ml-auto h-100 jm-sticky-top">
        <div class="mb-5">
          <h3 class="mb-4 h4">Simple </h3>
          
          <p class="mb-0">Nostrum iure atque enim quisquam minima distinctio omnis consequatur aliquam suscipit quidem esse aspernatur Libero excepturi animi repellendus porro impedit</p>
        </div>

        <div class="block__87154 mb-0">
            <span class="quote"><img src="images/quote.png" alt="Image"></span>
            <blockquote>
              <p>Ipsum harum assumenda in eum vel eveniet numquam, cumque vero vitae enim cupiditate deserunt eligendi officia modi consectetur. Expedita tempora quos nobis earum hic ex asperiores quisquam optio nostrum sit</p>
            </blockquote>
            <div class="block__91147 d-flex align-items-center">
              <figure class="mr-4"><img src="images/person_2.jpg" alt="Image" class="img-fluid"></figure>
              <div>
                <h3>Chris Peter</h3>
                <span class="position">Web Designer</span>
              </div>
            </div>
          </div>

      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <figure class="mb-0">
          <a href="images/gorilla-tracking.jpg" data-fancybox="gallery"><img src="imaeges/gorilla-tracking.jpg" alt="Image" class="img-fluid"></a>
        </figure>
      </div>
      <div class="col-lg-5 mr-auto h-100 jm-sticky-top  order-2 order-lg-1">
        
        <h3 class="mb-4 h4">Bonus Services</h3>
        <p class="mb-0">
          description for simple bonus services   
        </p>

        <ul class="ul-check success mt-5 list-unstyled mb-0">
          <li>servic one</li>
          <li>servic Two</li>
          <li>servic Three</li>
        </ul>
        
      </div>
    </div>    
  </div>
</section>
<section class=" py-3 site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <a href="#" class="py-3 rounded border d-block">Previous Project</a>
      </div>
      <div class="col-md-4 text-center">
        <a href="#" class="py-3 rounded border d-block">All Projects</a>
      </div>
      <div class="col-md-4 text-center">
        <a href="#" class="py-3 rounded border d-block">Next Project</a>
      </div>
    </div>
  </div>
</section>